@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Oxanium&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #000000;
    color: white;
  }
}

/* global.css */
.text-shadow-cyber {
  text-shadow: 0 0 8px rgba(0, 255, 255, 0.5),
               0 0 16px rgba(0, 255, 255, 0.3);
}
@layer utilities {
  .text-shadow-cyber {
    text-shadow: 0 0 8px rgba(0, 255, 255, 0.5),
                 0 0 16px rgba(0, 255, 255, 0.3);
  }
}

@keyframes borderPulse {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  25% {
    clip-path: inset(0 0 100% 0);
  }
  50% {
    clip-path: inset(0 0 0 100%);
  }
  75% {
    clip-path: inset(100% 0 0 0);
  }
  100% {
    clip-path: inset(0 100% 0 0);
  }
}

.animate-borderPulse {
  animation: borderPulse 3s linear infinite;
}
