---
import Navbar from '../components/Navbar.jsx';
import Footer from '../components/Footer.jsx';
import Analytics from '@vercel/analytics/astro';
import SpeedInsights from "@vercel/speed-insights/astro";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Consultoría de Inteligencia Artificial para Empresas | Automatización y Chatbots - Vectoriza.me</title>  
    <meta name="description" content="Consultoría de IA para empresas. Automatización de procesos, creación de chatbots inteligentes y soluciones de inteligencia artificial a medida para optimizar tu negocio. Aumenta la eficiencia con Vectoriza.me." />
    <meta name="keywords" content="consultoría IA empresas, automatización de procesos, desarrollo de chatbots, inteligencia artificial para pymes, soluciones IA a medida, vectorización de datos, asistentes IA para empresas" />
    <meta name="author" content="Marc Gimeno" />
    <meta property="og:title" content="vectoriza.me — IA a medida" />
    <meta property="og:description" content="Desarrollo soluciones inteligentes personalizadas para tu negocio." />
    <meta property="og:url" content="https://www.vectoriza.me/" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/og-image.jpg" />
    <meta name="twitter:card" content="summary_large_image" />
  </head>  

  <body class="text-white font-sans">
    <Navbar client:load />
    <main>
      <slot />
    </main>
    <Footer />
    <Analytics />
    <SpeedInsights />
  </body>
</html>
