---
import Navbar from '../components/Navbar.jsx';
import Footer from '../components/Footer.jsx';
import Analytics from '@vercel/analytics/astro';
import SpeedInsights from "@vercel/speed-insights/astro";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>vectoriza.me — IA personalizada para tu empresa</title>
  
    <meta name="description" content="Transforma el conocimiento de tu empresa en soluciones de inteligencia artificial consultables, prácticas y sin necesidad de código." />
    <meta name="keywords" content="IA personalizada, inteligencia artificial para empresas, automatización con IA, vectorización, chatbot IA, eficiencia empresarial" />
    <meta name="author" content="Marc Gimeno" />
    <meta property="og:title" content="vectoriza.me — IA a medida" />
    <meta property="og:description" content="Desarrollo soluciones inteligentes personalizadas para tu negocio." />
    <meta property="og:url" content="https://www.vectoriza.me/" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/og-image.jpg" />
    <meta name="twitter:card" content="summary_large_image" />
  </head>  

  <body class="text-white font-sans">
    <Navbar client:load />
    <main>
      <slot />
    </main>
    <Footer />
    <Analytics />
    <SpeedInsights />
  </body>
</html>
