---
import Navbar from '../components/Navbar.jsx';
import Footer from '../components/Footer.jsx';
import Analytics from '@vercel/analytics/astro';
import SpeedInsights from "@vercel/speed-insights/astro";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>IA personalizada para empresas | Automatización y Chatbots - Vectoriza.me</title>
    
    <meta name="description" content="Impulsa tu empresa aplicando inteligencia artificial personalizada. Automatizamos procesos, creamos chatbots inteligentes y diseñamos soluciones IA a medida. Potencia tu negocio con Vectoriza.me." />
    <meta name="keywords" content="IA para empresas, consultoría de inteligencia artificial, automatización de procesos, chatbots para empresas, sistemas RAG, asistentes virtuales empresariales, optimización empresarial IA, soluciones IA personalizadas" />
    <meta name="author" content="Marc Gimeno" />
    
    <!-- Open Graph / Facebook -->
    <meta property="og:title" content="IA personalizada para empresas | Vectoriza.me" />
    <meta property="og:description" content="Soluciones de inteligencia artificial a medida para automatizar y hacer crecer tu empresa. Consultoría, chatbots, automatización y más." />
    <meta property="og:url" content="https://www.vectoriza.me/" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/og-image.jpg" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="IA personalizada para empresas | Vectoriza.me" />
    <meta name="twitter:description" content="Aplica soluciones de inteligencia artificial personalizadas para escalar tu negocio de forma rápida y segura. Vectoriza.me" />
    <meta name="twitter:image" content="/og-image.jpg" />

    <!-- Favicon -->
    <link rel="icon" href="/favicon.ico" />
  </head>

  <body class="text-white font-sans">
    <Navbar client:load />
    <main>
      <slot />
    </main>
    <Footer />
    <Analytics />
    <SpeedInsights />
  </body>
</html>
