---
import Navbar from '../components/Navbar.jsx';
import Footer from '../components/Footer.jsx';
import '../styles/global.css';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>vectoriza.me</title>
  </head>
  <body class="text-white font-sans bg-black">
    <Navbar client:load />
    <slot />
    <Footer />
  </body>
</html>
